<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to UPS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      * {
      box-sizing: border-box;
      font-family: Arial, Helvetica, sans-serif;
      }

      body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
      }

      /* Style the top navigation bar */
      .topnav {
      overflow: hidden;
      background-color: #333;
      }

      /* Style the topnav links */
      .topnav a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      }

      /* Change color on hover */
      .topnav a:hover {
      background-color: #ddd;
      color: black;
      }

      /* Style the content */
      .content {
      background-color: #ddd;
      padding: 10px;
      height: 200px; /* Should be removed. Only for demonstration */
      }

      /* Style the footer */
      .footer {
      background-color: #f1f1f1;
      padding: 10px;
      }
    </style>
    <div class="topnav">
      {% if user.is_authenticated %}
      <a href="tracking">Tracking</a>
      <a href="package_detail">Your Package</a>
      <a href="changeDes">Redirect Package</a>
      {% else %}
      <a href="tracking">Tracking</a>
      <a href="login">Login</a>
      <a href="signup">Signup</a>
      {% endif %}
    </div>
  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
