<!DOCTYPE html>
<html>
  <head>
    <style>
      ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      }

      li {
      display: inline;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to UPS!</h1>
    <ul>
      {% if user.is_authenticated %}
      <li><a href="{% url 'ups:usertracking' %}">User Tracking</a></li>
      <li><a href="{% url 'ups:package_detail' %}">Your Package</a></li>
      <li><a href="{% url 'ups:changeDes' %}">Redirect Package</a></li>
      <li><a href="{% url 'ups:signout' %}">Logout</a></li>
      {% else %}
      <li><a href="{% url 'ups:tracking' %}">Tracking</a></li>
      <li><a href="{% url 'ups:signin' %}">Login</a></li>
      <li><a href="{% url 'ups:signup' %}">Signup</a></li>
      {% endif %}
    </ul>

    {% block content %}
    <p id = "content">
    </p>
    {% endblock %}
    
  </body>
</html>
