{% extends 'ups/base.html' %}

{% block content %}
<h1>Change Destination for Package</h1>
{% if errorMsg %}<p><strong>{{ errorMsg }}</strong></p>{% endif %}
<form action="{% url 'ups/changeDes' %'}" method="POST">
   {% csrf_token %}
   Package ID: <input type="number" name="package_id"><br>
   Destination_x: <input type="number" name="new_destination_X">
   Destination_y: <input type="number" name="new_destination_Y">
   <button type="submit">Change Package Destination</button>
</form>
{% endblock %}
