{% extends 'ups/base.html' %}

{% block content %}
{% if errors %}
<div>
  <h3>{{ errors }}</h3>
</div>
{% endif %}
<h1>login</h1>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{uf.as_p}}
  <button type="submit">Log in</button>
</form>
{% endblock %}
