{% extends 'ups/base.html' %}

{% block content %}
{% if msg %}
<p>{{ msg }}</p>
{% else %}
<div id="detail" class="package_detail">
  {% for pack in allPacks %}
  <p>Package ID: {{ pack.id }}</p>
  <p>Package Destination X: {{ pack.destinationX }}</p>
  <p>Package Destination Y: {{ pack.destinationY }}</p>
  <p>Package Status: {{ pack.condition }}</p>
  {% for prod in pack.product %}
  <p>Item ID: {{ prod.item_id}}</p>
  <p>Item Description: {{ prod.description}}</p>
  <p>Item Quantity: {{ prod.quantity}}</p>
  {% endfor %}
  {% endfor %}
</div>
{% endif %}
{% endblock %}
