{% extends 'ups/base.html' %}
{% block content %}
<h1>Signup</h1>
<form action= "{% url 'ups:signup' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{f.as_p}}
  <input type="submit" value="ok"></input>
</form>
{% endblock %}
