{% extends 'ups/base.html' %}
{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% if pack_id %}
<p>Package ID: {{ pack_id }}</p>
<p>Package Status: {{ pack_status }}</p>
{% endif %}
<form action="{% url 'ups:searchPackage' %}" method="post">
  {% csrf_token %}
  <div class="search">
    <input type="number" class="search_key" name="tracking_id"/>
    <input type="submit" class="submit" value="Track"/>
  </div>
</form>

{% endblock %}
