{% extends 'ups/base.html' %}
{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% if userid %}
<div>
  <h3>User ID: {{ userid }}</h3>
</div>
{% endif %}
{% if pack %}{{ pack.id }}{% endif %}
<form action="{% url 'ups:searchPackage' %}" method="post">
  {% csrf_token %}
  <div class="search">
    <input type="number" class="search_key" value="tracking_id"/>
    <input type="submit" class="submit" value="Track"/>
  </div>
</form>

{% endblock %}

