<h1>Welcome to UPS Tracking System</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% if pack %}{{ pack.id }}{% endif %}

<form action="{% url 'account:searchPackage' %}" method="post">
  {% csrf_token %}
  <div class="search">
    <input type="number" class="search_key" value="tracking_id"/>
    <input type="submit" class="submit" value="Track"/>
  </div>
</form>

